@model List<DebtDto>
<div class="row">
    <!-- Tarih Aralığı için Date Picker -->
    <div class="filter-item col-md-5 mb-3">
        <label for="startDate">Aralık Seçin:</label>
        <select id="datePeriodSelect">
            <option value="">Herzaman</option>
            <option value="today">Bugün</option>
            <option value="thisWeek">Bu Hafta</option>
            <option value="thisMonth">Bu Ay</option>
            <option value="thisYear">Bu Yıl</option>
            <option value="specificPeriod">Özel</option>
        </select>
    </div>
    <div class="filter-item col-md-5 mb-3">
        <label for="startDate">Başlangıç Tarihi:</label>
        <input type="date" id="startDate" disabled>
    </div>
    <div class="filter-item col-md-5 mb-3">
        <label for="endDate">Bitiş Tarihi:</label>
        <input type="date" id="endDate" disabled>
    </div>

    <!-- Sayı Aralığı için Inputlar -->
    <div class="filter-item col-md-5 mb-3">
        <label for="minValue">Satış Toplam Min Değer:</label>
        <input type="number" id="minValueForSalePrice">
    </div>

    <div class="filter-item col-md-5 mb-3">
        <label for="maxValue">Satış Toplam Max Değer:</label>
        <input type="number" id="maxValueForSalePrice">
    </div>

    <!-- Birden Fazla Seçim Yapabileceğiniz Select Kutusu -->


    <div class="row">
        <div class="filter-item col-md-3 mb-2">
            <label for="multiSelect">Ürünler Seçim Yap:</label>
            <select id="ProductIdSelect" class="form-control" asp-items="@(new SelectList(ViewBag.Products,"Id","Name"))" multiple="multiple">
            </select>
        </div>

        <div class="filter-item col-md-3 mb-2">
            <label for="multiSelect">Kantinler Seçim Yap:</label>
            <select id="StoreIdSelect" class="form-control" asp-items="@(new SelectList(ViewBag.Stores,"Id","Name"))" multiple="multiple">
            </select>
        </div>
        <div class="filter-item col-md-3 mb-2">
            <label for="multiSelect">Ödeme Türü Seçim Yap:</label>
            <select id="paymentTypeSelect" class="form-control">
                <option value="Hepsi">Hepsi</option>
                <option value="Nakit">Nakit</option>
                <option value="Kredi Kartı">Kredi Kartı</option>
            </select>
        </div>
        <div class="filter-item col-md-3 mb-2">
            <label for="multiSelect">Ödenme Durumu Seçim Yap:</label>
            <select id="paidSelect" class="form-control">
                <option value="Hepsi">Hepsi</option>
                <option value="true">Ödendi</option>
                <option value="false">Ödenmedi</option>
            </select>
        </div>
    </div>

</div>
<button class="btn btn-primary" id="filterButton">Filtrele</button>

<!--begin: Datatable-->
<div class="table-responsive">
    <table id="DebtsTable" class="table table-separate table-head-custom table-checkable responsive nowrap" Supply="grid" aria-describedby="kt_datatable_info" style="width:100%">
        <thead>
            <tr product="row">
                <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 31px;"></th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kantin</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Alan Kişi Adı </th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Alan Kişi Soyadı </th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Toplam Fiyat</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kayıt Tarihi</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Ödendi</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Ödenme Tarihi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DebtDto debt in Model)
            {
                <tr data-products-line='@Json.Serialize(debt.ProductLines?.ToArray())' product="row" class="even">
                    <td class="dt-control"></td>
                    <td>@debt.Store.Name</td>
                    <td>@debt.FirstName</td>
                    <td>@debt.LastName</td>
                    <td>@debt.TotalPrice₺</td>
                    <td>@DateTimeFormatter.FormatForTr(debt.CreatedDate)</td>
                    <td>@(debt.Paid ? "Ödendi" : "Ödenmedi")</td>
                    @if (debt.PaidDate != null)
                    {
                        <td>@DateTimeFormatter.FormatForTr(debt.PaidDate)</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <!--end: Datatable-->
</div>