@model List<DebtDto>
<div class="table-responsive">
    <table id="DebtsTable" class="table table-separate table-head-custom table-checkable responsive nowrap" Supply="grid" aria-describedby="kt_datatable_info" style="width:100%">
        <thead>
            <tr product="row">
                <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 31px;"></th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kayıt Tarihi</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Alan Kişi Adı </th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Alan Kişi Soyadı </th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Toplam Fiyat</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Ödendi</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (DebtDto debt in Model)
            {
                <tr data-products-line='@Json.Serialize(debt.ProductLines?.ToArray())' product="row" class="even">
                    <td class="dt-control"></td>
                    <td>@debt.CreatedDate.ToString()</td>
                    <td>@debt.FirstName</td>
                    <td>@debt.LastName</td>
                    <td>@debt.TotalPrice₺</td>
                    <td>@(debt.Paid ? "Ödendi" : "Ödenmedi")</td>
                    @if (!debt.Paid)
                    {
                        <td><a asp-action="Pay" asp-route-Id="@debt.Id" class="btn btn-danger">Bitir</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <!--end: Datatable-->
</div>