@model List<SaleDto>
<div class="row">
    <!-- Tarih Aralığı için Date Picker -->
    <div class="filter-item col-md-5 mb-3">
        <label for="startDate">Aralık Seçin:</label>
        <select id="datePeriodSelect">
            <option value="">Herzaman</option>
            <option value="today">Bugün</option>
            <option value="thisWeek">Bu Hafta</option>
            <option value="thisMonth">Bu Ay</option>
            <option value="thisYear">Bu Yıl</option>
            <option value="specificPeriod">Özel</option>
        </select>
    </div>
    <div class="filter-item col-md-5 mb-3">
        <label for="startDate">Başlangıç Tarihi:</label>
        <input type="date" id="startDate" disabled>
    </div>
    <div class="filter-item col-md-5 mb-3">
        <label for="endDate">Bitiş Tarihi:</label>
        <input type="date" id="endDate" disabled>
    </div>

    <!-- Sayı Aralığı için Inputlar -->
    <div class="filter-item col-md-5 mb-3">
        <label for="minValue">Satış Toplam Min Değer:</label>
        <input type="number" id="minValueForSalePrice">
    </div>

    <div class="filter-item col-md-5 mb-3">
        <label for="maxValue">Satış Toplam Max Değer:</label>
        <input type="number" id="maxValueForSalePrice">
    </div>

    <!-- Birden Fazla Seçim Yapabileceğiniz Select Kutusu -->


    <div class="row">
        <div class="filter-item col-md-3 mb-3">
            <label for="multiSelect">Ürünler Seçim Yap:</label>
            <select id="ProductIdSelect" class="form-control" asp-items="@(new SelectList(ViewBag.Products,"Id","Name"))" multiple="multiple">
            </select>
        </div>

        <div class="filter-item col-md-3 mb-3">
            <label for="multiSelect">Kantinler Seçim Yap:</label>
            <select id="StoreIdSelect" class="form-control" asp-items="@(new SelectList(ViewBag.Stores,"Id","Name"))" multiple="multiple">
            </select>
        </div>
        <div class="filter-item col-md-3 mb-3">
            <label for="multiSelect">Ödeme Türü Seçim Yap:</label>
            <select id="paymentTypeSelect" class="form-control">
                <option value="Hepsi">Hepsi</option>
                <option value="Nakit">Nakit</option>
                <option value="Kredi Kartı">Kredi Kartı</option>
            </select>
        </div>
    </div>
</div>
<button class="btn btn-primary" id="filterButton">Filtrele</button>
<!--begin: Datatable-->
<div class="table-responsive">
    <table id="SalesTable" class="table table-separate table-head-custom table-checkable responsive nowrap" Supply="grid" aria-describedby="kt_datatable_info" style="width:100%">
        <thead>
            <tr product="row">
                <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 31px;"></th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kantin</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Satış Tarihi</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Ödeme Şekli</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Toplam Fiyat</th>
                <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;"></th>
            </tr>
        </thead>
        <tbody>
            @{var total = 0;}
            @foreach (var sale in Model)
            {
                total += Convert.ToInt32(sale.SoldTotal);
                <tr data-products-line='@Json.Serialize(sale.ProductLines?.ToArray())' product="row" class="even">
                    <td class="dt-control"></td>
                    <td>@sale.Store!.Name</td>
                    <td>@sale.StringCreatedDate</td>
                    <td>@sale.PaymentType</td>
                    <td>@sale.SoldTotal.ToString()₺</td>
                    <td nowrap="nowrap">
                        <div class="d-flex flex-wrap">
                            <a asp-action="Detail" asp-route-Id="@sale.Id" class="btn btn-sm btn-clean btn-icon mr-2" title="Detaylar">
                                <span class="svg-icon svg-icon-primary svg-icon-2x">
                                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Clip.svg-->
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="0" y="0" width="24" height="24" />
                                            <path d="M14,16 L12,16 L12,12.5 C12,11.6715729 11.3284271,11 10.5,11 C9.67157288,11 9,11.6715729 9,12.5 L9,17.5 C9,19.4329966 10.5670034,21 12.5,21 C14.4329966,21 16,19.4329966 16,17.5 L16,7.5 C16,5.56700338 14.4329966,4 12.5,4 L12,4 C10.3431458,4 9,5.34314575 9,7 L7,7 C7,4.23857625 9.23857625,2 12,2 L12.5,2 C15.5375661,2 18,4.46243388 18,7.5 L18,17.5 C18,20.5375661 15.5375661,23 12.5,23 C9.46243388,23 7,20.5375661 7,17.5 L7,12.5 C7,10.5670034 8.56700338,9 10.5,9 C12.4329966,9 14,10.5670034 14,12.5 L14,16 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.500000, 12.500000) rotate(-315.000000) translate(-12.500000, -12.500000) " />
                                        </g>
                                    </svg><!--end::Svg Icon-->
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" class="text-right"></td>
                <td id="total" class=" text-right text-danger">Toplam: @total</td>
            </tr>
        </tfoot>
    </table>
    <!--end: Datatable-->
</div>