@model List<UserDto>
<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap">
		<div class="card-title">
			<h3 class="card-label">
				Kullanıcılar
			</h3>
		</div>
		<div class="card-toolbar">
			<!--begin::Button-->
			<a asp-controller="User" asp-action="Add" class="btn btn-primary font-weight-bolder">
				<span class="svg-icon svg-icon-md">
					<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24"></rect>
							<circle fill="#000000" cx="9" cy="15" r="6"></circle>
							<path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3"></path>
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>Kullanıcı Ekle
			</a>
			<!--end::Button-->
		</div>

	</div>
	<div class="card-body">
		<!--begin: Datatable-->
		<div id="kt_datatable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
			<div class="row">
				<div class="col-sm-12">
					<table id="UsersTable" class="table table-separate table-head-custom table-checkable dataTable no-footer dtr-inline" role="grid" aria-describedby="kt_datatable_info" style="width: 1150px;">
						<thead>
							<tr role="row">
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 30px;">Kullanıcı Adı</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kullanıcı Soyadı</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kullanıcı Telefon Numarası</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kullanıcı Maili</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kullanıcı Adresi</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kullanıcı Rolü</th>
								<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kullanıcı Mağazası</th>
								@*<th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 200px;">Adres</th>*@
								<th class="sorting_disabled" rowspan="1" colspan="1" style="width: 124px;" aria-label="Actions">İşlemler</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var user in Model)
							{
								<tr role="row" class="even">
									<td>@user.FirstName</td>
									<td>@user.LastName</td>
									<td>@user.PhoneNumber</td>
									<td>@user.Email</td>
									<td>@user.Adress</td>
									<td>@user.Role</td>
									<td>@user.Store.Name</td>
									<td nowrap="nowrap">
										<a asp-controller="User" asp-action="Detail"  class="btn btn-sm btn-clean btn-icon mr-2" title="Düzenle">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Clip.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path d="M14,16 L12,16 L12,12.5 C12,11.6715729 11.3284271,11 10.5,11 C9.67157288,11 9,11.6715729 9,12.5 L9,17.5 C9,19.4329966 10.5670034,21 12.5,21 C14.4329966,21 16,19.4329966 16,17.5 L16,7.5 C16,5.56700338 14.4329966,4 12.5,4 L12,4 C10.3431458,4 9,5.34314575 9,7 L7,7 C7,4.23857625 9.23857625,2 12,2 L12.5,2 C15.5375661,2 18,4.46243388 18,7.5 L18,17.5 C18,20.5375661 15.5375661,23 12.5,23 C9.46243388,23 7,20.5375661 7,17.5 L7,12.5 C7,10.5670034 8.56700338,9 10.5,9 C12.4329966,9 14,10.5670034 14,12.5 L14,16 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.500000, 12.500000) rotate(-315.000000) translate(-12.500000, -12.500000) " />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
										</a>
										<a asp-controller="User" asp-action="Update" asp-route-Id="@user.Id" data-id="@user.Id" class="btn btn-sm btn-clean btn-icon mr-2" title="Düzenle">
											<span class="svg-icon svg-icon-primary svg-icon-2x">
												<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Design\Edit.svg-->
												<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24" />
														<path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) " />
														<rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1" />
													</g>
												</svg><!--end::Svg Icon-->
											</span>
											</a>
										<a asp-controller="User" asp-action="Delete" asp-route-Id="@user.Id" data-id="@user.Id" class="btn btn-sm btn-clean btn-icon" title="Sil">
												<span class="svg-icon svg-icon-primary svg-icon-2x">
													<!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\General\Trash.svg-->
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
															<rect x="0" y="0" width="24" height="24" />
															<path d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z" fill="#000000" fill-rule="nonzero" />
															<path d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z" fill="#000000" opacity="0.3" />
														</g>
													</svg><!--end::Svg Icon-->
												</span>
											</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<!--end: Datatable-->
		</div>
	</div>
	</div>

	<!--end::Card-->

@section Scripts{

	<script src="~/js/UserIndex.js"></script>
}