@model List<SaleDto>
@section Css{
    <link rel="stylesheet" href="~/css/saleIndexStyles.css">
}
<!--begin::Card-->
<div class="card card-custom">
    <div class="card-header flex-wrap">
        <div class="card-title">
            <h3 class="card-label">
                Satışlar
            </h3>
        </div>
        <div class="card-toolbar">
            <div class="dropdown dropdown-inline mr-2">
                <button type="button" class="btn btn-light-primary font-weight-bolder dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:assets/media/svg/icons/Design/PenAndRuller.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path d="M3,16 L5,16 C5.55228475,16 6,15.5522847 6,15 C6,14.4477153 5.55228475,14 5,14 L3,14 L3,12 L5,12 C5.55228475,12 6,11.5522847 6,11 C6,10.4477153 5.55228475,10 5,10 L3,10 L3,8 L5,8 C5.55228475,8 6,7.55228475 6,7 C6,6.44771525 5.55228475,6 5,6 L3,6 L3,4 C3,3.44771525 3.44771525,3 4,3 L10,3 C10.5522847,3 11,3.44771525 11,4 L11,19 C11,19.5522847 10.5522847,20 10,20 L4,20 C3.44771525,20 3,19.5522847 3,19 L3,16 Z" fill="#000000" opacity="0.3"></path>
                                <path d="M16,3 L19,3 C20.1045695,3 21,3.8954305 21,5 L21,15.2485298 C21,15.7329761 20.8241635,16.200956 20.5051534,16.565539 L17.8762883,19.5699562 C17.6944473,19.7777745 17.378566,19.7988332 17.1707477,19.6169922 C17.1540423,19.602375 17.1383289,19.5866616 17.1237117,19.5699562 L14.4948466,16.565539 C14.1758365,16.200956 14,15.7329761 14,15.2485298 L14,5 C14,3.8954305 14.8954305,3 16,3 Z" fill="#000000"></path>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Dışarı Aktar
                </button>
                <!--begin::Dropdown Menu-->
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="">
                    <!--begin::Navigation-->
                    <ul class="navi flex-column navi-hover py-2">
                        <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Choose an option:</li>
                        <li class="navi-item">
                            <a id="copyButton" href="javascript:;" class="navi-link ">
                                <span class="navi-icon">
                                    <i class="la la-copy"></i>
                                </span>
                                <span class="navi-text">Kopyala</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a id="excelButton" href="javascript:;" class="navi-link ">
                                <span class="navi-icon">
                                    <i class="la la-file-excel-o"></i>
                                </span>
                                <span class="navi-text">Excel</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a id="csvButton" href="javascript:;" class="navi-link ">
                                <span class="navi-icon">
                                    <i class="la la-file-text-o"></i>
                                </span>
                                <span class="navi-text">CSV</span>
                            </a>
                        </li>
                        <li class="navi-item">
                            <a id="pdfButton" href="javascript:;" class="navi-link">
                                <span class="navi-icon">
                                    <i class="la la-file-pdf-o"></i>
                                </span>
                                <span class="navi-text">PDF</span>
                            </a>
                        </li>
                    </ul>
                    <!--end::Navigation-->
                </div>
                <!--end::Dropdown Menu-->
            </div>
            <!--begin::Button-->
            <!--end::Button-->
        </div>

    </div>
    <div class="card-body">
        <div class="row">
            <!-- Tarih Aralığı için Date Picker -->
            <div class="filter-item col-md-5 mb-3">
                <label for="startDate">Başlangıç Tarihi:</label>
                <input type="date" id="startDate">
            </div>
            <div class="filter-item col-md-5 mb-3">
                <label for="endDate">Bitiş Tarihi:</label>
                <input type="date" id="endDate">
            </div>

            <!-- Sayı Aralığı için Inputlar -->
            <div class="filter-item col-md-5 mb-3">
                <label for="minValue">Satış Toplam Min Değer:</label>
                <input type="number" id="minValueForSalePrice">
            </div>

            <div class="filter-item col-md-5 mb-3">
                <label for="maxValue">Satış Toplam Max Değer:</label>
                <input type="number" id="maxValueForSalePrice">
            </div>

            <!-- Birden Fazla Seçim Yapabileceğiniz Select Kutusu -->


            <div class="row">
                <div class="filter-item col-md-3 mb-3">
                    <label for="multiSelect">Ürünler Seçim Yap:</label>
                    <select id="ProductIdSelect" class="form-control" asp-items="@(new SelectList(ViewBag.Products,"Id","Name"))" multiple="multiple">
                    </select>
                </div>

                <div class="filter-item col-md-3 mb-3">
                    <label for="multiSelect">Kantinler Seçim Yap:</label>
                    <select id="StoreIdSelect" class="form-control" asp-items="@(new SelectList(ViewBag.Stores,"Id","Name"))" multiple="multiple">
                    </select>
                </div>
                <div class="filter-item col-md-3 mb-3">
                    <label for="multiSelect">Ödeme Türü Seçim Yap:</label>
                    <select id="paymentTypeSelect" class="form-control">
                        <option value="Hepsi">Hepsi</option>
                        <option value="Nakit">Nakit</option>
                        <option value="Kredi Kartı">Kredi Kartı</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" id="filterButton">Filtrele</button>
        <!--begin: Datatable-->
        <div class="table-responsive">
            <table id="SalesTable" class="table table-separate table-head-custom table-checkable responsive nowrap" Supply="grid" aria-describedby="kt_datatable_info" style="width:100%">
                <thead>
                    <tr product="row">
                        <th class="dt-control sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 31px;"></th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Kantin</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Satış Tarihi</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Ödeme Şekli</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Toplam Fiyat</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Ödenilen Para</th>
                        <th class="sorting" tabindex="0" aria-controls="kt_datatable" rowspan="1" colspan="1" style="width: 45px;">Paranın Üssü</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sale in Model)
                    {
                        <tr data-products-line='@Json.Serialize(sale.ProductLines?.ToArray())' product="row" class="even">
                            <td class="dt-control"></td>
                            <td>@sale.Store!.Name</td>
                            <td>@sale.CreatedDate.ToString()</td>
                            <td>@sale.PaymentType</td>
                            <td>@sale.SoldTotal.ToString()₺</td>
                            <td>@sale.PaidAmount₺</td>
                            <td>@sale.Exchange.ToString()₺</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!--end: Datatable-->
        </div>
    </div>
</div>

<!--end::Card-->
@section Scripts{
    <script src="~/js/SaleIndex.js"></script>
}